@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

a {
  @apply underline text-green-800 hover:text-green-900 visited:text-purple-600
}

.spinner_jCIR {
  animation: spinner_B8Vq .9s linear infinite;
  animation-delay: -.9s
}

.spinner_upm8 {
  animation-delay: -.8s
}

.spinner_2eL5 {
  animation-delay: -.7s
}

.spinner_Rp9l {
  animation-delay: -.6s
}

.spinner_dy3W {
  animation-delay: -.5s
}

@keyframes spinner_B8Vq {
  0%,
  66.66% {
    animation-timing-function: cubic-bezier(0.36, .61, .3, .98);
    y: 6px;
    height: 12px
  }

  33.33% {
    animation-timing-function: cubic-bezier(0.36, .61, .3, .98);
      y: 1px;
      height: 22px
  }
}